<% include ../layouts/_header.ejs  %>

<a href="create-contact"><button class= 'btn btn-secondary addBtn' name="addBtn">Add a new contact</button></a> 

<% if (data.length == 0){ %>
  <p class = "lead text-center">You don't have registred contacts. </p>
<% } else { %>
  <% if (messages.success) { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert"><%= messages.success %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
     </div>
   <% } %>
  <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
          <th scope="col">Phone number</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <% for(var i = 0; i < data.length; i++){ %>
        <tbody>
         <tr>
             <th scope="row"> <%= i+1 %></th>
             <td><%= data[i].first_name %></td>
             <td><%= data[i].second_name %></td>
             <td><%= data[i].phone_number %></td>
             <td><a href="update-contact/<%= data[i].id_contact %>"><button class = "btn btn-info" >Edit</button></a>
             <button class = "btn btn-danger" id= "delete-btn" data-toggle="modal" data-target="#removeContact" data-id="<%= data[i].id_contact %>">Delete</button></td>
           </tr>
         </tbody>
       <% } %>
    <% } %>
    </table>
    <div class="modal fade" id="removeContact" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="alert">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center">
            <p class="lead">Are you sure you want to delete this contact?</p>
          </div>
          <div class="modal-footer">
            <a href="" id="remove-button" class="btn btn-danger">Delete Contact</a>
          </div>
        </div>
      </div>
    </div>
<a href="/authentification/logout"><button class= 'btn btn-secondary logoutBtn' name="logoutBtn">Logout</button></a> 

<% include ../layouts/_footer.ejs  %>